{% extends "admin/base.html" %}

{% block content %}

<div class="container mt-5">
    <h1 class="mb-4">Editar Produto</h1>
    <form id="edit-produto-form">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" value="{{ produto.nome }}">
        </div>
        <div class="mb-3">
            <label for="categoria" class="form-label">Categoria</label>
            <select class="form-select" id="categoria" name="categoria" required>
                <option value="PRATO_RASO" {% if produto.categoria == 'PRATO_RASO' %}selected{% endif %}>Prato Raso</option>
                <option value="GUARDANAPO" {% if produto.categoria == 'Categoria.GUARDANAPO' %}selected{% endif %}>Guardanapo</option>
                <option value="TALHER" {% if produto.categoria == 'TALHER' %}selected{% endif %}>Talher</option>
                <option value="TRILHOS_DE_MESA" {% if produto.categoria == 'TRILHOS_DE_MESA' %}selected{% endif %}>Trilhos de Mesa</option>
                <option value="JOGO_AMERICANO" {% if produto.categoria == 'JOGO_AMERICANO' %}selected{% endif %}>Jogo Americano</option>
                <option value="SOUSPLAT" {% if produto.categoria == 'SOUSPLAT' %}selected{% endif %}>Sousplat</option>
                <option value="CHA_E_CAFE" {% if produto.categoria == 'CHA_E_CAFE' %}selected{% endif %}>Chá e Café</option>
                <option value="PRATO_SOBREMESA" {% if produto.categoria == 'PRATO_SOBREMESA' %}selected{% endif %}>Prato Sobremesa</option>
                <option value="PORTA_GUARDANAPO" {% if produto.categoria == 'PORTA_GUARDANAPO' %}selected{% endif %}>Porta Guardanapo</option>
            </select>    
        </div>
        <div class="mb-3">
            <label for="preco" class="form-label">Preço</label>
        </div>
        <div class="mb-3">
            <label for="quantidade_estoque" class="form-label">Quantidade em Estoque</label>
            <input type="number" class="form-control" id="quantidade_estoque" name="quantidade_estoque" value="{{ produto.quantidade_estoque }}">
        </div>
        <div class="mb-3">
            <label for="imagem" class="form-label">Imagem</label>
            <input type="file" class="form-control" id="imagem" name="imagem" value="{{ produto.imagem }}">
        </div>
        <div class="mb-3">
            <label for="cor" class="form-label">Cor</label>
            <input type="text" class="form-control" id="cor" name="cor" value="{{ produto.cor }}">
        </div>
        <div class="mb-3">
            <label for="estilo" class="form-label">Estilo</label>
            <select class="form-select" id="estilo" name="estilo" required>
                <option value="ELEGANTE" {% if produto.estilo == 'ELEGANTE' %}selected{% endif %}>Elegante</option>
                <option value="TROPICAL" {% if produto.estilo == 'TROPICAL' %}selected{% endif %}>Tropical</option>
                <option value="FLORIDO" {% if produto.estilo == 'FLORIDO' %}selected{% endif %}>Florido</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="publicado" class="form-label">Publicado</label>
            <input type="checkbox" class="form-check-input" id="publicado" name="publicado" {{ 'checked' if produto.publicado else '' }}>
        </div>
        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
    </form>
</div>

<script>
    document.getElementById('edit-produto-form').onsubmit = async function(event) {
        event.preventDefault();
        const formData = new FormData(event.target);
        const data = Object.fromEntries(formData.entries());
        data.publicado = formData.has('publicado');

        const response = await fetch('/admin/produtos/' + {{ produto.id }}, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        });

        if (response.ok) {
            window.location.href = '/visualizar_produtos/';
        } else {
            alert('Erro ao salvar as alterações');
        }
    };
</script>

{% endblock %}