{% extends "partials/base.html" %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Cadastro</h2>
                        <form action="/users/cadastro_user" method="post" id="cadastro-form">
                            <div class="form-group">
                                <label for="cpf">CPF</label>
                                <input type="text" class="form-control" id="cpf" name="cpf" maxlength="15" placeholder="Digite seu CPF" required>
                            </div>
                            <div class="form-group">
                                <label for="nome">Nome</label>
                                <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome completo" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu email" required>
                            </div>
                            <div class="form-group">
                                <label for="telefone">Telefone</label>
                                <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Digite seu telefone com DDD" required>
                            </div>
                            <div class="form-group">
                                <label for="data_nascimento">Data de Nascimento</label>
                                <input type="date" class="form-control" id="data_nascimento" name="data_nascimento" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Senha</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Digite sua senha" required>
                            </div>
                            <div class="form-group">
                                <label for="confirm_password">Confirme sua senha</label>
                                <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirme sua senha" required>
                                <small id="passwordError" class="form-text text-danger" style="display: none;">As senhas não correspondem.</small>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
                        </form>
                        <div class="text-center mt-3">
                            <a href="/users/login">Já possui uma conta? Faça login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<script src="https://unpkg.com/imask"></script>
<script>
    // Mascara do CPF
    var cpfElement = document.getElementById('cpf');
    var maskOptions = {
        mask: '000.000.000-00'
    };
    var mask = IMask(cpfElement, maskOptions);
    // Mascara do telefone
    var telefoneElement = document.getElementById('telefone');
    var maskOptions2 = {
        mask: '(00)00000-0000'
    };
    var mask2 = IMask(telefoneElement, maskOptions2);
    // Verifica se as duas senhas são iguais antes do envio do formulário
    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('cadastro-form');
        form.addEventListener('submit', function(event) {
            console.log("A função está sendo executada");
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm_password').value;
    
            const errorMessage = document.getElementById('passwordError');
            errorMessage.style.display = 'none';
    
            if (password !== confirmPassword) {
                errorMessage.textContent = 'As senhas não correspondem.';
                errorMessage.style.display = 'block';
                event.preventDefault();
            }
        });
    });
</script>
{% endblock %}


