{% extends "partials/base.html" %}

{% block title %}Carrinho{% endblock %}

{% block content %}
<div class="container mt-1">
  <h1 class="text-center mb-5">Seu carrinho</h1>
  {% if cart_items %}
    <div class="row">
      {% for item in cart_items %}
      <div class="col-md-6 col-lg-4 mb-4 d-flex align-items-stretch">
        <div class="card h-100">
          <img src="{{ url_for('static', path=item.produto.imagem) }}" class="card-img-top" alt="{{ item.produto.nome }}">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ item.produto.nome }}</h5>
            <p class="card-text">R$ {{ item.produto.preco }}</p>
            <div class="mt-auto">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <form onsubmit="event.preventDefault(); updateQuantity({{ item.produto.id }});" class="d-inline-flex align-items-center">
                  <input type="number" id="quantity-{{ item.produto.id }}" name="quantity" value="{{ item.quantidade }}" min="1" class="form-control form-control-sm mx-2 text-center" style="width: 60px;">
                  <button type="submit" class="btn btn-sm btn-outline-primary ml-2">Atualizar</button>
                </form>
                <form onsubmit="event.preventDefault(); RemoveFromCart({{ item.produto.id }});" method="post" class="d-inline">
                  <button type="submit" class="btn btn-sm btn-outline-danger">Remover</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <h4 class="text-right">Total: R$ <span id="cart-total">{{ cart_total }}</span></h4>
      </div>
    </div>
    <div class="container mt-5">
      <div class="card">
          <div class="card-header">
              INFORMAÇÕES DE LOCAÇÃO
          </div>
          <div class="card-body">
            <form id="locacao-form" action="/locacao/" method="post">
                <div class="form-group">
                    <label for="data-aluguel">Início da Locação</label>
                    <input type="date" class="form-control" id="inicio-locacao" name="data_aluguel" placeholder="DD/MM/AAAA">
                </div>
                <div class="form-group">
                    <label for="hora-inicial">Hora Inicial</label>
                    <input type="time" class="form-control" id="hora-inicial" name="hora_inicial">
                </div>
                <div class="form-group">
                    <label for="data-devolucao">Término da Locação</label>
                    <input type="date" class="form-control" id="termino-locacao" name="data_devolucao" placeholder="DD/MM/AAAA">
                </div>
                <div class="form-group">
                    <label for="hora-final">Hora Final</label>
                    <input type="time" class="form-control" id="hora-final" name="hora_final">
                </div>
                <div class="card mt-4">
                    <div class="card-header">
                        INFORMAÇÕES DE ENTREGA
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="tipo-entrega">Tipos de Entrega</label><br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tipo_entrega" id="retirar-loja" value="Retirar na Loja" onchange="toggleEntregaFields()">
                                <label class="form-check-label" for="retirar-loja">Retirar na Loja</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="tipo_entrega" id="frete" value="Frete" onchange="toggleEntregaFields()">
                                <label class="form-check-label" for="frete">Frete</label>
                            </div>
                        </div>
                        <div id="entrega-fields">
                            <div class="form-group">
                                <label for="cep">CEP</label>
                                <input type="text" class="form-control" id="cep" name="cep" placeholder="CEP">
                            </div>
                            <div class="form-group">
                                <label for="endereco">Endereço</label>
                                <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereço">
                            </div>
                            <div class="form-group">
                                <label for="bairro">Bairro</label>
                                <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro">
                            </div>
                            <div class="form-group">
                                <label for="cidade">Cidade</label>
                                <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade">
                            </div>
                            <div class="form-group">
                                <label for="numero">Número</label>
                                <input type="text" class="form-control" id="numero" name="numero" placeholder="Número">
                            </div>
                            <div class="form-group">
                                <label for="complemento">Complemento</label>
                                <input type="text" class="form-control" id="complemento" name="complemento" placeholder="Complemento">
                            </div>
                            <div class="form-group">
                                <label for="nome-destinatario">Nome do Destinatário</label>
                                <input type="text" class="form-control" id="nome-destinatario" name="nome_destinatario" placeholder="Nome do Destinatário">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mt-4">
                    <label for="observacoes">OBSERVAÇÕES</label>
                    <textarea class="form-control" id="observacoes" name="observacoes" rows="3"></textarea>
                </div>
        </div>
    </div>
</div>
    <div class="row mt-3">
      <div class="col-md-12 text-center">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#confirmModal" onclick="preencherModal()">Solicitar orçamento</button>
      </div>
    </form>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmModalLabel">Confirmar Informações</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h6>Produtos no Carrinho</h6>
            <div id="confirm-cart-items"></div><br>
            <p><strong>Preço total:</strong> <span id="cart-total">{{ cart_total }}</span></p>
            <h6>Informações de Locação</h6>
            <br>
            <p><strong>Início da Locação:</strong> <span id="confirm-inicio-locacao"></span></p>
            <p><strong>Hora Inicial:</strong> <span id="confirm-hora-inicial"></span></p>
            <p><strong>Término da Locação:</strong> <span id="confirm-termino-locacao"></span></p>
            <p><strong>Hora Final:</strong> <span id="confirm-hora-final"></span></p>
            <h6>Informações de Entrega</h6>
            <p><strong>Tipo de Entrega:</strong> <span id="confirm-tipo-entrega"></span></p>
            <div id="confirm-entrega-fields">
              <p><strong>CEP:</strong> <span id="confirm-cep"></span></p>
              <p><strong>Endereço:</strong> <span id="confirm-endereco"></span></p>
              <p><strong>Bairro:</strong> <span id="confirm-bairro"></span></p>
              <p><strong>Cidade:</strong> <span id="confirm-cidade"></span></p>
              <p><strong>Número:</strong> <span id="confirm-numero"></span></p>
              <p><strong>Complemento:</strong> <span id="confirm-complemento"></span></p>
              <p><strong>Nome do Destinatário:</strong> <span id="confirm-nome-destinatario"></span></p>
            </div>
            <h6>Observações</h6>
            <p id="confirm-observacoes"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" onclick="confirmarOrcamento()">Confirmar</button>
          </div>
        </div>
      </div>
    </div>

  {% else %}
    <div class="alert alert-info text-center" role="alert">
      Seu carrinho de compras está vazio!
      <a href="/" class="alert-link">Voltar a página inicial</a>
    </div>
    
  {% endif %}
</div>

<script>
  function updateQuantity(produtoId) {
    const quantityInput = document.getElementById(`quantity-${produtoId}`);
    const quantity = quantityInput.value;

    fetch(`/cart/update_quantity/${produtoId}/${quantity}`, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
    })
    .then(response => {
        if (response.ok) {
            console.log("Quantity updated successfully");
            updateCartTotal();
        } else {
            console.error("Failed to update quantity");
        }
    })
    .catch(error => {
        console.error("Error:", error);
    });
  }

  function RemoveFromCart(produtoId) {
    fetch(`/cart/remove_from_cart/${produtoId}`, {
      method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
    })
    .then(response => {
      if (response.ok) {
          console.log("Product removed successfully");
          updateCartItems();
      } else {
          console.error("Failed to remove quantity");
      }
    })
    .catch(error => {
        console.error("Error:", error);
    });
  }

  function toggleEntregaFields() {
    const entregaFields = document.getElementById('entrega-fields');
    const retirarNaLoja = document.getElementById('retirar-loja').checked;

    if (retirarNaLoja) {
        entregaFields.classList.add('d-none');
    } else {
        entregaFields.classList.remove('d-none');
    }
  }

  function preencherModal() {
    // Capturar valores do formulário de locação
    document.getElementById('confirm-inicio-locacao').innerText = document.getElementById('inicio-locacao').value;
    document.getElementById('confirm-hora-inicial').innerText = document.getElementById('hora-inicial').value;
    document.getElementById('confirm-termino-locacao').innerText = document.getElementById('termino-locacao').value;
    document.getElementById('confirm-hora-final').innerText = document.getElementById('hora-final').value;
    
    // Capturar tipo de entrega
    const tipoEntrega = document.querySelector('input[name="tipo_entrega"]:checked').value;
    document.getElementById('confirm-tipo-entrega').innerText = tipoEntrega;

    // Se o tipo de entrega for "Frete", capturar e preencher os detalhes de entrega
    if (tipoEntrega === 'Frete') {
        document.getElementById('confirm-cep').innerText = document.getElementById('cep').value;
        document.getElementById('confirm-endereco').innerText = document.getElementById('endereco').value;
        document.getElementById('confirm-bairro').innerText = document.getElementById('bairro').value;
        document.getElementById('confirm-cidade').innerText = document.getElementById('cidade').value;
        document.getElementById('confirm-numero').innerText = document.getElementById('numero').value;
        document.getElementById('confirm-complemento').innerText = document.getElementById('complemento').value;
        document.getElementById('confirm-nome-destinatario').innerText = document.getElementById('nome-destinatario').value;
        document.getElementById('confirm-entrega-fields').classList.remove('d-none');
    } else {
        document.getElementById('confirm-entrega-fields').classList.add('d-none');
    }

    // Capturar observações
    document.getElementById('confirm-observacoes').innerText = document.getElementById('observacoes').value;

    // Capturar e preencher os itens do carrinho
    const cartItemsElement = document.getElementById('confirm-cart-items');
    cartItemsElement.innerHTML = ''; // Limpar conteúdo anterior
    {% for item in cart_items %}
    cartItemsElement.innerHTML += `
      <p><strong>Produto:</strong> {{ item.produto.nome }} - <strong>Quantidade:</strong> {{ item.quantidade }}</p>
    `;
    {% endfor %}
}

  function confirmarOrcamento() {
    const form = document.getElementById('locacao-form');
    form.submit();
  }

  document.addEventListener("DOMContentLoaded", function() {
    toggleEntregaFields();
  });

  function updateCartTotal() {
    fetch(`/cart/cart_total/`)
    .then(response => response.json())
    .then(data => {
        const cartTotalElement = document.getElementById('cart-total');
        cartTotalElement.textContent = data.cart_total.toFixed(2);
    })
    .catch(error => {
        console.error("Error fetching cart total:", error);
    });
  }

  function updateCartItems() {
    fetch("/cart/")
    .then(response => response.json())
    .then(data => {
        // Update cart items
    })
    .catch(error => {
        console.error("Error fetching cart items:", error);
    });
  }

  updateCartItems();
  updateCartTotal();
</script>
{% endblock %}
